
@{
    ViewBag.Title = "Demo1";
}

<h2>Demo1</h2>

<h2>From View Data @ViewData["Name"]</h2>
<h2>From View Data @ViewData["Age"]</h2>

<h2>From Temp Data @TempData["City"]</h2>

<h2>From Session Data @Session["Country"]</h2>

<h2>From ViewBag Data @ViewBag.PhoneNumber</h2>