@model IEnumerable<_06EFCodeFirst.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create","Create","Home",null,new {@class="btn btn-info" })
<div  >
<table class="table table-bordered table-striped table-hover" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.City</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Home", new { Id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Home", new { Id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>